#not-found .App-logo {
	width: 100px;
	height: 100px;
}

main#not-found {
	background: #fff;
	padding: 4px
}
main#not-found p {
	padding-top: 32px;
	color: #000!important;
	text-align: justify;
	max-width: 1000px;
	margin: auto
}